.heading {
  width: 100%;
  margin-top: 25px;
  text-align: left;
  letter-spacing: 0.1em;
  font-weight: lighter;
  font-family: "JohnstonITCStd-Medium", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
}

.profile-info {
  display: inline-block;
  width: 100%;
  margin: 18px 5px;
  letter-spacing: 0.1rem;
  font-weight: lighter;
  font-family: "JohnstonITCStd-Medium", Helvetica, Roboto, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: small;
}

.info-label {
  font-family: 'Gill Sans MT Pro Medium';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #999;
}

.info-value {
  font-family: 'Gill Sans MT Pro Medium';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
  color: #444;
}

.data-section {
  margin-bottom: 18px;
  font-family: 'Gill Sans MT Pro Medium';
  font-weight: 400;
  font-size: 13px;
  line-height: 18px;
}

.a-button.edit-button {
  width: 66.66667%;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 16px;
}

.a-button.edit-button {
  color: #fff;
  background-color: #444;
  border: 1px solid #444;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: .0825em;
  text-transform: uppercase;
  font-family: 'Gill Sans MT Pro Medium';
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 12px 9px 8px 9px;
  display: block;
  margin-bottom: 17px;
}
