<div *ngIf="!auth.user">
  <app-login></app-login>
</div>

<div class="container" *ngIf="auth.user">
  <div class="card" style="width: 18rem">
    <div class="card-body">
      <h5 class="card-title">Welcome, {{ auth.user.username }}!</h5>
      <button class="a-button edit-button" routerLink="/profile">View Profile</button>
      <br/>
      <h5 class="card-title">{{ auth.user.username }}, please upload a file and get the classification result</h5>
      <label class="a-button edit-button">
        <input type="file" style="display: none;" multiple="true" (change)="onFileUpload($event)">
        <span>Upload the File</span>
      </label>
      <p *ngIf="!(classResult==null)">Your Classification result is: {{classResult}}</p>
    </div>
  </div>

</div>


