.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.matC{
  opacity: 0.95;
}

.a-button.edit-button {
  width: 100%;
  padding-right: 6px;
  padding-left: 6px;
  margin-top: 16px;
}

.a-button.edit-button {
  color: #fff;
  background-color: #444;
  border: 1px solid #444;
  font-size: 13px;
  line-height: 21px;
  letter-spacing: 0.0825em;
  text-transform: uppercase;
  font-family: "Gill Sans MT Pro Medium", sans-serif;
  font-weight: 400;
  text-align: center;
  width: 100%;
  padding: 12px 9px 8px 9px;
  display: block;
  margin-bottom: 17px;
}

.a-input {
  border: none;
  border-radius: 0;
  background-color: #e7e7e7;
  color: #444;
  font-size: 12px;
  line-height: 17px;
  letter-spacing: 0.04em;
  height: 30px;
  width: 100%;
  padding: 8px 11px 4px;
  -webkit-appearance: none;
}
