<mat-card class="matC">

  <h1 style="display: inline">Register</h1>
  <br/> <br/>
  <form class="example-form" #f="ngForm" (ngSubmit)="register(f);">

    <div class="form-group">
      <label >UserName</label>
      <input
        matInput
        type="text"
        class="form-control a-input"
        name="username"
        #uname="ngModel"
        (keyup)="getName($event)"
        [(ngModel)]="user.username"
        required minlength="4"
      />
      <div *ngIf="uname.errors?.required && uname.touched" class="error" style="color: crimson">
        Username is Required!
      </div>
      <div *ngIf="uname.errors?.minlength && uname.touched" class="error" style="color: crimson">
        Username must longer than 3
      </div>
      <div *ngIf="checkName" class="error" style="color: crimson">
        Username is already exist!
      </div>
    </div>

    <div class="form-group">
      <label >Email</label>
      <input
        matInput
        type="text"
        class="form-control a-input"
        name="email" #email="ngModel"
        [(ngModel)]="user.email"
        required
        pattern="^[a-zA-Z0-9_-]+@[a-zA-Z0-9_-]+(\.[a-zA-Z0-9_-]+)+$"
      />
      <div *ngIf="email.errors?.required && email.touched" class="error" style="color: crimson">
        email is required!
      </div>
      <div *ngIf="email.errors?.pattern && email.touched" class="error" style="color: crimson">
        email Not correct!
      </div>
    </div>

    <div class="form-group">
      <label >Password</label>
      <input
        matInput
        class="form-control a-input"
        name="password"
        [(ngModel)]="user.password"
        #psw="ngModel"
        required
        minlength="6"
        type="password"
        reverse="true"
      />
      <div *ngIf="psw.errors?.required && psw.touched" class="error" style="color: crimson">
        Password is required!
      </div>
      <div *ngIf="psw.errors?.minlength && psw.touched" class="error" style="color: crimson">
        Password must longer than 5
      </div>
    </div>

    <div class="form-group">
      <label >Confirm Password</label>
      <input
        matInput
        class="form-control a-input"
        name="repeat"
        type="password"
        required
        reverse="false"
        (keyup)="getinput($event)"
      />
      <div class="error" *ngIf="showwarn" style="color: crimson">
        Password not match!
      </div>
    </div>

    <!--    profile-->
    <div class="form-group">
      <label >PhoneNumber</label>
      <input
        matInput
        class="form-control a-input"
        name="phoneNumber"
        #phoneNumber="ngModel"
        [(ngModel)]="user.userInfo.phoneNumber"
        required
      />
      <div *ngIf="phoneNumber.errors?.required && phoneNumber.touched" class="error" style="color: crimson">
        phoneNumber is required!
      </div>
    </div>

    <div class="form-group">
      <label >FirstName</label>
      <input
        matInput
        class="form-control a-input"
        name="firstName"
        #firstName="ngModel"
        [(ngModel)]="user.userInfo.firstName"
        required
      />
      <div *ngIf="firstName.errors?.required && firstName.touched" class="error" style="color: crimson">
        firstName is required!
      </div>
    </div>

    <div class="form-group">
      <label >MiddleName</label>
      <input
        matInput
        class="form-control a-input"
        name="middleName"
        #middleName="ngModel"
        [(ngModel)]="user.userInfo.middleName"
        required
      />
      <div *ngIf="middleName.errors?.required && middleName.touched" class="error" style="color: crimson">
        middleName is required!
      </div>
    </div>

    <div class="form-group">
      <label >LastName</label>
      <input
        matInput
        class="form-control a-input"
        name="lastName"
        #lastName="ngModel"
        [(ngModel)]="user.userInfo.lastName"
        required
      />
      <div *ngIf="lastName.errors?.required && lastName.touched" class="error" style="color: crimson">
        lastName is required!
      </div>
    </div>

    <div class="form-group">
      <label >Occupation</label>
      <input
        matInput
        class="form-control a-input"
        name="occupation"
        #occupation="ngModel"
        [(ngModel)]="user.userInfo.occupation"
        required
      />
      <div *ngIf="occupation.errors?.required && occupation.touched" class="error" style="color: crimson">
        occupation is required!
      </div>
    </div>

    <div class="form-group">
      <label >MailAddress</label>
      <input
        matInput
        class="form-control a-input"
        name="mailAddress"
        #mailAddress="ngModel"
        [(ngModel)]="user.userInfo.mailAddress"
        required
      />
      <div *ngIf="mailAddress.errors?.required && mailAddress.touched" class="error" style="color: crimson">
        occupation is required!
      </div>
    </div>

    <button class="a-button edit-button" type="submit" [disabled]="passwordNotSame || f.invalid || checkName">Submit</button>
    &nbsp;
    <a routerLink="/login">Back to Login</a>

  </form>
</mat-card>

<div *ngIf="showalert"
     style="z-index: 10;position: fixed;display: flex;justify-content: center;top: 0vh; width: 100vw; height: 100vh; left: 0">
  <mat-card style="width: 40vw; height: 200px; top: 30vh;">
    <br>
    <div style="display:flex;justify-content: center">
      <h1>Success!</h1>
    </div>
    <div style="display:flex;justify-content: center">
      <h3>Welcome to join</h3>
    </div>
      <button type="button" class="a-button edit-button" (click)="goHome()">OK</button>
  </mat-card>
</div>
